
gwas_example.bed
gwas_example.bim
gwas_example.fam
gwas_example.frq
gwas_example.het
gwas_example.imiss
gwas_example.imiss-vs-het.remove
gwas_example.lmiss
gwas_example.lmiss.exclude
gwas_example.log
gwas_example.map.txt
gwas_example_final.assoc
gwas_example_final.bed
gwas_example_final.bim
gwas_example_final.fam
gwas_example_final.log
gwas_example_final.prune.in
gwas_example_final.prune.out
gwas_example_final_indep.bed
gwas_example_final_indep.bim
gwas_example_final_indep.fam
gwas_example_final_indep.log
gwas_example_final_pca.eigenval
gwas_example_final_pca.eigenvec
gwas_example_final_pca.log
gwas_example_qc1.bed
gwas_example_qc1.bim
gwas_example_qc1.fam
gwas_example_qc1.log
gwas_example_qc2.bed
gwas_example_qc2.bim
gwas_example_qc2.fam
gwas_example_qc2.log
gwas_example_qc2.missing
gwas_example_qc2.missing.exclude
gwas_example_qc3.bed
gwas_example_qc3.bim
gwas_example_qc3.fam
gwas_example_qc3.hwe
gwas_example_qc3.hwe.exclude
gwas_example_qc3.log
gwas_example_qc4.bed
gwas_example_qc4.bim
gwas_example_qc4.fam
gwas_example_qc4.log
gwas_example_qc4.prune.in
gwas_example_qc4.prune.out
gwas_example_qc4_indep.bed
gwas_example_qc4_indep.bim
gwas_example_qc4_indep.fam
gwas_example_qc4_indep.genome
gwas_example_qc4_indep.genome.remove
gwas_example_qc4_indep.log
.DS_Store
*.pdf
*.logistic
